/* 
TIPHOGRAPHY SYSTEM
-COLORS
#B3D0E7
#0160FF
#61092B
*/

/* 
RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
}

.my-row-no-m {
    display: flex;
    flex-wrap: wrap;
}



.my-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}


.container-header {
    max-width: 80%;
    margin:  auto;
    position: relative;
    top: 80px;
}

.container-main {
    max-width: 70%;
    margin: 0 auto;
}

nav > ul > li > a {
    list-style: none;
    text-decoration: none;
    color: #3d3d3d;
}



/* 
HEADER 
*/

.header-top {
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    }

.col-header-top {
    width: calc(100% / 2);
}

.headre-top-right nav {
    text-align: right;
    vertical-align: middle;
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.blue-button {
    background:#0160FF ;
    color: white;
    padding: 10px 15px;
}


.jumbo-box {
    background-color: #B3D0E7;
    margin-bottom: 200px;
    margin-top: 60px;
}

.jumbo-box img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 4.5em;
    padding-bottom: 50px;
    color: black;
}

.col-header-small {
    width: 35%;
}

.col-header-big {
    width: 65%;
}


.jumbo-button {
    margin: 40px 0;
}
.p-jumbo {
    margin-bottom: 40px ;
}

.jumbo-button a:link, .jumbo-button a:visited {
    text-decoration: none;
    color: white;
}

.delete a:link, .delete a:visited {
    color: #3d3d3d;
}

.fa-arrow-down {
    font-size: 3em;
}

.arrow:link, .arrow:visited {
    color: black;
}

/* 
MAIN 
*/


.col-gutter {
    width: calc((100% / 3) - 40px);
    margin: 0 20px;
}

.col-main-small, .col-row-small {
    width: 40%;
}

.col-main-big, .col-row-big {
    width: 60%;
}

.row{
    border: 1px solid black;
    margin-top: 50px;
}

.col-row-big > *  {
    margin: 0 30px;
}

.col-row-small > * {
    margin: 0 50px;
}

.griglia-x-6 {
    width: calc((100% / 3) - 40px);
    margin: 10px 20px;
}

.griglia-x-6 img {
    width: 100%;
    display: block;
}

.col-big-main {
    width: calc(100% / 3);
}

.col-big-main > .partners {
    width: calc(100% / 2);
}

.col-big-main > .partners {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: calc(100% / 2);
}


.top-middle {
    height: 40%;
}

.bottom-middle {
    height: 60%;
}

h2.trova-buisness {
    font-size: 2.2em;
    margin-bottom: 50px;
}

#fatturazione-mensile {
    padding-right: 40px;
}

.abbonamento {
    margin-bottom: 40px;
}

.col-gutter {
    border: 1px solid black;
}

.col-gutter > * {
    padding: 0 15px;
}

.col-gutter ul {
    margin: 25px 0 40px 0;
}

.col-gutter ul > li {
    margin-bottom: 20px;
    list-style: none;
}
.col-gutter ul > li {
    display: flex;
}

.col-gutter ul > li > span .fa-solid {
    padding-right: 10px;
}

.col-gutter-title {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.3em;
}

h5 {
    margin-top: 40px;
    font-size: 1em;
}

hr.hr-main{
    width: 25%;
    margin-left: 15px;
    margin-top: 40px;
    border-color: #9f9f9f;
}

.price {
    font-weight: bold;
    font-size: 0.8em;
}

.per-time {
    color: #7f7f7f;
    font-size: 0.8em;
}

.try a:link, .try a:visited {
    text-decoration: none;
    color: white;
}

.try {
    margin-bottom: 20px;
}

.scritta-blu {
    padding-left: 5px;
}

.scritta-blu:link, .scritta-blu:visited {
    color: #0160FF;
}

.fa-check {
    color: #0160FF;
}

.col-row-big > h4 {
    margin-top: 30px;
}

.col-row-big > p {
    margin-bottom: 20px;
}

.col-row-big > h6 {
    font-size: 0.8em;
    margin-top: 15px;
    margin-bottom: 40px;
}
.row-button {
    position: relative;
    top: 40px;
    left: 80px;
}

.contatti-partner {
    margin-top: 150px;
}

.col-main-big > img {
    width: 100%;
    display: block;
}

/* .big-grill {
    margin-bottom: 150px;
} */

.contatti-partner > .col-main-small {
    padding: 20px 30px 0 40px;
}

.contatti-partner > .col-main-small > p {
    padding: 40px 0;
}

.empty-button > a {
    border: 2px solid #7f7f7f;
}

.empty-button > a:link, .empty-button > a:visited {
    color: #7f7f7f;
    text-decoration: none;
    padding: 10px;
}

.operazioni {
    font-size: 2.5em;
    margin-top: 150px;
    margin-bottom: 20px;
}

.griglia-x-6 > img {
    width: 100%;
    display: block;
}

h4.grill-title {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 0 10px;
}

.griglia-x-6 > p {
    padding: 0 10px 40px; 
    line-height: 1.5em;
}

.collaborators {
    height: calc(100vw / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-big-main > .collaborators {
    width: calc(100% / 2);
}


.collaborators > img {
    display: block;
    width: 60%;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(34deg) brightness(109%) contrast(111%);
}

.collaborators.--01 {
    background-color: #A2D39B;
}

.col-big-main > .collaborators.--01 {
    border: 15px solid #D1E9CD;
}

.collaborators.--02 {
    background-color: #61092B;
}

.collaborators.--03 {
    background-color: #0093CE;
}

.collaborators.--04 {
    background-color: #FF1B1C;
}

.collaborators.--05 {
    background-color: #D5001F;
}

.collaborators.--06 {
    background-color: #B3D0E7;
}

.collaborators.--07 {
    background-color: #0E2381;
}

.collaborators.--08 {
    background-color: #FFD72F;
}

.top-middle > img {
    width: 60%;
    display: block;
}

.top-middle {
    padding: 30px;
}

.designit-line {
    margin-top: 40px;
    width: 90px;
}

.bottom-middle {
    padding-left: 30px ;
}

.quote {
    margin-top: 30px;
}

.drop-buisnes {
    padding-right: 400px;
    font-size: 2.5em;
    color: black;
    margin-bottom: 50px;
}

.drop-buisnes-center {
    margin: 150px 0;
}

.large-main {
    background-color: #B3D0E7;
}

h3.bring {
    font-size: 2em;
    margin: 100px 0;
    color: black;
}

.prova {
    margin: 110px 0 0 100px;
}

.prova a:link, .prova a:visited {
    padding: 15px;
    background-color: white;
    color: #3d3d3d;
    text-decoration: none;
}






/* 
FOOTER 
*/
footer {
    background-color: rgb(32, 32, 32);
    color: white;
}
footer nav {
    width: calc(100% / 5);
}

footer nav ul {
    list-style: none;
}

footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
}



/* 
DEBUG 
*/

.debug

.debug .col, {
    border: 1px dashed black;
}

/* .debug .header-bottom {
    height: 500px;
} */

.debug .container-main {
    border: 1px dashed red;
}

/* .debug .col-gutter {
    background-color: cadetblue;
} */

/* .debug .row{
    background-color: cadetblue;
} */

.debug .col--small {
    height: 300px;
}

.debug .col--big {
    height: 300px;
}

/* .debug .griglia-x-6 {
    background-color: coral;
    height: 500px;
}  */

.debug 

.debug 

.debug 

/* .debug .col-main-small {
    height: 300px;
} */


/* .debug .col-row-big, .col-row-small {
    border: 1px dashed red;
} */

/* .debug .contatti-partner, .col-main-big, .col-main-small  {
    border: 1px dashed black;
} */

.debug 

.debug