/* 
TIPHOGRAPHY SYSTEM
-COLORS
#B3D0E7
#0160FF
#61092B
*/

/* 
RESET 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL 
*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
}

.my-row-no-m {
    display: flex;
    flex-wrap: wrap;
}



.my-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}


.container-header {
    max-width: 70%;
    margin:  auto;
    position: relative;
    top: 60px;
}

.container-main {
    max-width: 60%;
    margin: 0 auto;
}

nav > ul > li > a {
    list-style: none;
    text-decoration: none;
    color: #3d3d3d;
}



/* 
HEADER 
*/

.header-top {
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    }

.col-header-top {
    width: calc(100% / 2);
}

.headre-top-right nav {
    text-align: right;
    vertical-align: middle;
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.blue-button {
    background:#0160FF ;
    color: white;
    padding: 5px 15px;
}


.jumbo-box {
    background-color: #B3D0E7;
    margin-bottom: 150px;
}

.jumbo-box img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 3.5em;
    padding-bottom: 30px;
    color: black;
}

.col-header-small {
    width: 35%;
}

.col-header-big {
    width: 65%;
}


.jumbo-button, .p-jumbo {
    margin: 20px 0;
}

.jumbo-button a:link, .jumbo-button a:visited {
    text-decoration: none;
    color: white;
}

.delete a:link, .delete a:visited {
    color: #3d3d3d;
}

.fa-arrow-down {
    font-size: 3em;
}



/* 
MAIN 
*/

.col-gutter {
    width: calc((100% / 3) - 40px);
    margin: 0 20px;
}

.col-main-small {
    width: 40%;
    height: 300px;
}

.col-main-big {
    width: 60%;
}

.griglia-x-6 {
    width: calc((100% / 3) - 40px);
    margin: 10px 20px;
}

.griglia-x-6 img {
    width: 100%;
    display: block;
}

.col-big-main {
    width: calc(100% / 3);
}

.col-big-main > .partners {
    width: calc(100% / 2);
}

.col-big-main > .partners {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.top-middle {
    height: 40%;
}

.bottom-middle {
    height: 60%;
}









/* 
FOOTER 
*/

footer nav {
    width: calc(100% / 5);
}


/* 
DEBUG 
*/

.debug

.debug .col, .row, .griglia-x-6, .col-big-main, .--lateral, .top-middle, .bottom-middle{
    border: 1px dashed black;
}

/* .debug .header-bottom {
    height: 500px;
} */

.debug .container-main {
    border: 1px dashed red;
}

.debug .col-gutter {
    height: 500px;
    background-color: cadetblue;
}

.debug .row{
    border: 1px dashed black;
    height: 300px;
    margin-top: 50px;
    background-color: cadetblue;
}

.debug .col--small {
    height: 300px;
}

.debug .col--big {
    height: 300px;
}

.debug .griglia-x-6 {
    background-color: coral;
    height: 500px;
} 

.debug .col-big-main > .partners {
    border: 1px dashed black;
    width: calc(100% / 2);
}

.debug .partners {
    background-color: gold;
    height: calc(100vw / 6);
}

.debug .partners {
    background-image: url('../img/arizona_state_university.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    
}

.debug

.debug

.debug

.debug

.debug

.debug